
html
	head
		title zhongli
		meta(charset='utf-8')
		script(src='/socket.io/socket.io.js')
		script(src='js/jquery.min.js')
		script(src='js/client.js')
		:stylus
			body
				background red
			.raw
				border 1px solid black
				color black
	body
		nav(id='box')
			p(id='zero') initial
		textarea(id='text')