
html
	head
		title zhongli
		meta(charset='utf-8')
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='js/client.js')
		:stylus
			body
				font-family 'wenquanyi micro hei', 'Ubuntu'
				font-size 15px
				color hsl(0,80%,10%)
				background hsl(200,90%,94%)
			.name
				float left
				width 100px
				overflow hidden
			div
				height 24px
			div:nth-child(2n)
				background hsl(200,90%,91%)
			div:nth-child(2n+1)
				background hsl(200,90%,95%)
			.raw
				color hsl(20,50%,60%)
				overflow hidden
			.done
				overflow hidden
			#text
				width 600px
				font-family 'wenquanyi micro hei', 'Ubuntu'
				font-size 15px
				height 26px
				border-width 0px
				margin-left 100px
			.time
				color hsl(20,90%,70%)
				font-size 12px
			.sys
				color hsl(0,60%,70%)
	body
		nav(id='box')
			div
				nav(class='name') author
				nav(class='done')
					a(href='http://weibo.com/jiyinyiyong') @titleleaf;
					a(href='https://github.com/jiyinyiyong/zhongli') @github
			div
				nav(class='name') &nbsp;
				nav(class='done') press Enter to see textbox, then type in words, see syncing?
			div
				nav(class='name') &nbsp;
				nav(class='done') hit Enter to complete, press Enter to continus...
		textarea(id='text')