
html
	head
		title 众里
		meta(charset='utf-8')
		link(rel='shortcut icon',href='favicon.icon')
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='js/client.js')
		:stylus
			body
				font-family 'wenquanyi micro hei', 'Ubuntu'
				font-size 14px
				color hsl(0,80%,10%)
				background hsl(200,90%,94%)
			.name
				float left
				width 100px
				overflow hidden
				color hsl(280,60%,60%)
			div
				padding-top 6px
				height 26px
			div:nth-child(2n)
				background hsl(200,90%,91%)
			div:nth-child(2n+1)
				background hsl(200,90%,95%)
			.raw
				width = 1000px
				height = 26px
				color hsl(20,50%,50%)
				overflow hidden
			.done
				width = 1000px
				height = 26px
				overflow hidden
			#box
				height 500px
				overflow-x hidden
				overflow-y auto
				border 1px solid hsl(0,50%,70%)
			#text
				width 1000px
				font-family 'wenquanyi micro hei', 'Ubuntu'
				font-size 15px
				height 26px
				border-width 0px
				margin-left 100px
				border 1px solid hsl(0,50%,70%)
			.time
				color hsl(20,90%,70%)
				font-size 12px
			.sys
				color hsl(0,60%,70%)
	body
		nav(id='box')
			div
				nav(class='name')
					a(href='http://weibo.com/1651843872/xD5E7y441',target='_blank') @题叶
				nav(class='done')
					a(href='https://github.com/jiyinyiyong/zhongli',target='_blank') socket.io 聊天室, 代码看@github
			div
				nav(class='name') &nbsp;
				nav(class='done') 可以尝试 /who 和 /clear 命令了
			div
				nav(class='name') &nbsp;
				nav(class='done') 打算探测 e.keyCode 让输入字符开头省一次回车, 失败了, 怎么办呢?
		textarea(id='text')
