
html
	head
		title zhongli
		meta(charset='utf-8')
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='js/client.js')
		:stylus
			body
				font-family 'wenquanyi micro hei', 'Ubuntu'
				font-size 15px
				color hsl(0,80%,10%)
				background hsl(200,90%,94%)
			.name
				float left
				width 100px
				overflow hidden
				color hsl(280,60%,60%)
			div
				box-sizing border-box
				padding-top 6px
				height 26px
			div:nth-child(2n)
				background hsl(200,90%,91%)
			div:nth-child(2n+1)
				background hsl(200,90%,95%)
			.raw
				color hsl(20,50%,50%)
				overflow hidden
			.done
				overflow hidden
			#box
				height 500px
				overflow-x hidden
				overflow-y auto
				border 1px solid hsl(0,50%,60%)
			#text
				width 600px
				font-family 'wenquanyi micro hei', 'Ubuntu'
				font-size 15px
				height 26px
				border-width 0px
				margin-left 100px
			.time
				color hsl(20,90%,70%)
				font-size 12px
			.sys
				color hsl(0,60%,70%)
	body
		nav(id='box')
			div
				nav(class='name') author
				nav(class='done')
					a(href='http://weibo.com/1651843872/xD5E7y441') @题叶;
					a(href='https://github.com/jiyinyiyong/zhongli') @github
			div
				nav(class='name') &nbsp;
				nav(class='done') just type to talk, synchronous, finish with Enter.
			div
				nav(class='name') &nbsp;
				nav(class='done') 探测输入法真头疼, 于是中文回车然后输入然后回车
		textarea(id='text')
