
html
  head
    title Chat
    link(rel='stylesheet',href='demo.css')
    //- link(href='http://fonts.googleapis.com/css?family=Exo',rel='stylesheet',type='text/css')
    script(src='http://127.0.0.1:8000/socket.io/socket.io.js')
    script(src='jquery.js')
    script(src='demo.js')
  body
    .container
      section
        .row
          .span9
            #list
            #box
              input.span8#say(placeholder='add words and hit the button to post',type='text')
              a.btn.btn-primary#send
                i.icon-share-alt.icon-white
          ul.span3.nav.nav-list.sidebar
            li
              a#home
                i.icon-home
                span Home
            li
              a#log(href='/log',target='_blank')
                i.icon-book
                span Log
            li
              input#name.span2(placeholder='Your Name',type='text')
            li
              .time
                span 05-17
                span#time 12:34
            li
              .alert
                //- button.close(data-dismiss="alert") x
                strong Warning! 
                span#warn not look good