
@import url(bootstrap/css/bootstrap.css);

body {
}

section {
  padding-top: 20px;
}

#list {
  box-sizing: border-box;
  max-height: 400px;
  min-height: 200px;
  overflow-y: scroll;
  padding: 40px 0px 100px;
}

#say, #name {
  height: 28px;
  margin: 8px 0px;
  background: hsla(0,0%,0%,0);
}

.sidebar>* {
}

#clock {
  /*font-family: 'Exo', sans-serif;*/
  font-size: 40px;
  margin: 12px 8px;
  color: hsl(30,40%,80%);
}

.nav-list {
  padding: 0px;
}

.alert {
  display: none;
}

.time {
  color: hsl(0,10%,76%);
}

.name {
  color: hsl(240,80%,75%);
}

.text {
  font-size: 14px;
}

.item {
  background: hsl(240,30%,96%);
  margin: 8px 0px;
  padding: 8px;
}

.item:hover {
  background: hsl(240,30%,92%);
}

::-webkit-scrollbar {
  width: 4px;
  background: hsl(30,30%,90%);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  background: hsl(0,20%,70%);
}