
@import url(bootstrap/css/bootstrap.css);

body {
  background: #fef0e1;
}

section {
  padding-top: 20px;
}

#list {
  background: hsl(0,95%,95%);
  max-height: 600px;
  min-height: 200px;
}

#say, #name {
  height: 28px;
  margin: 8px 0px;
  background: hsla(0,0%,0%,0);
}

.sidebar>* {
}

#time {
  /*font-family: 'Exo', sans-serif;*/
  font-size: 40px;
  margin: 12px 8px;
  color: hsl(30,40%,80%);
}

.nav-list {
  padding: 0px;
}

.alert {
  display: none;
}