
html
  head
    title log of zhongli
    link(rel='stylesheet',href='log.css')
    script(src='http://127.0.0.1:8000/socket.io/socket.io.js')
    script(src='../jquery.js')
    script(src='log.js')
  body
    .container
      .row
        .span2
          h4 days
          ul#days.nav.nav-tabs.nav-stacked
        .span4
          h4 topics
          ul#topics.nav.nav-tabs.nav-stacked
        .span4
          h4 posts
          ul#posts.nav.nav-tabs.nav-stacked