body{font-family:'wenquanyi micro hei','Ubuntu';font-size:13px;line-height:26px;-moz-box-orient:vertical;-webkit-box-orient:vertical}
body>*{width:1100px;margin:26px auto;padding:13px;background:#decffc}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
#send_name{width:200px;height:26px}
p{padding:0;margin:0}
#note{font-size:10px;display:none}
#board{padding:0;display:-moz-box;display:-webkit-box;margin:26px auto;height:600px;-moz-box-orient:horizontal;-webkit-box-orient:horizontal}
#left{width:500px;height:100%;background:#00f;-moz-box-orient:vertical;-webkit-box-orient:vertical}
#topic{width:100%;height:576px;overflow-y:scroll}
#create{width:100%;height:26px;background:#008000}
#right{width:600px;height:100%;background:#f00;-moz-box-orient:vertical;-webkit-box-orient:vertical}
#thread{width:100%;height:574px;overflow-y:scroll;overflow-x:hidden}
#add{width:600px;height:26px;background:#808080}
#box{width:500px;height:26px;display:none}
