::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #bf4040;
  border-radius: 2px;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 4700px;
  overflow: hidden;
  background: #efe9e7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
body > div {
  width: 800px;
  height: 100%;
  margin: 0px 10px;
  background: #fff;
}
.unit {
  margin: 0px;
  padding: 10px 30px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  height: 64px;
}
.unit header.icon {
  width: 44px;
  height: 44px;
  box-shadow: 0px 0px 8px #808080;
}
.unit p {
  margin: 3px 10px;
}
.unit img {
  width: 100%;
}
.unit .detail {
  width: 680px;
  margin-left: 10px;
}
.unit .info {
  text-align: right;
}
.unit .nick {
  margin-right: 10px;
  color: #40bf40;
}
.unit .name {
  color: #b3e6b3;
  margin-right: 10px;
}
.unit .time {
  color: #9e9efa;
}
.unit .reply {
  color: #d1ecfa;
  margin-right: 10px;
}
#config .login {
  text-align: right;
  color: #cfcffc;
}
#config .form {
  line-height: 20px;
  padding: 10px 30px;
}
#config .form input {
  width: 500px;
  height: 30px;
  outline: none;
  border: none;
  box-shadow: 0px 1px 0px #808080;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 4px 8px;
}
.unit .state {
  padding: 0px;
  width: 660;
  margin: 0px 10px;
  border: none;
  font-size: 16px;
  font-family: 'wenquanyi micro hei';
  box-shadow: 0px 1px 0px #fccfcf;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
