
html
  head
    title Site
    link(rel='stylesheet',href='/s.css')
    script(src='/socket.io/socket.io.js')
    script(src='/sync.js')
    script(src='/jquery.min.js')
    script(src='/handle.js')
  body
    #main
      #box
      #nav