
html
  head
    title Site
    link(
        href='http://fonts.googleapis.com/css?family=Lato',
        rel='stylesheet',
        type='text/css')
    link(rel='stylesheet',href='/s.css')
    script(src='/socket.io/socket.io.js')
    script(src='/sync.js')
    script(src='/jquery.min.js')
    script(src='/handle.js')
  body
    #config
      .unit#preview
        header.icon
          img.icon
        .detail
          p.info
            span.nick mark
            span.name your name
            span.reply
            span.time 00/00 00:00
          p.state content
      br
      .form.login
        span click to login
      .form
        span nick:
        input#nick
      .form
        span state:
        input#state
    #topic
    #chat
    #msg
    #name