
body
  padding 0px auto
  margin 0px

#main
  margin 0px auto
  width 934px

  #box
    margin 0px auto
    padding 0px
    width 900px
    box-shadow 0px 0px 4px gray
    height 99%
    padding 60px 0px 400px 0px
    box-sizing border-box
    display inline-block

    p
      padding 20px 40px
      margin 0px
      box-shadow 0px 0px 10px gray

  #nav
    width 30px
    height 30px
    display inline-block
    box-shadow 0px 0px 4px gray
    vertical-align top
    margin 0px