
::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,50)
  border-radius 2px

*
  box-sizing border-box

input, .input
  color hsl(0,90,50)
  font-size 16px
  outline none
  border none
  box-shadow 0px 1px 0px hsl(0, 90%, 80%)
  width 80%
  margin 10px 8%

body
  padding 0px
  margin 0px 10px
  display -webkit-box
  -webkit-box-orient horizontal
  width 4700px
  overflow hidden
  background hsl(20,20,92)
  font-family 'Lato', sans-serif
  font-weight 300

body > div
  padding 20px 0px 100px
  width 800px
  height 100%
  margin 0px 10px
  background white
  overflow scroll

.unit
  margin 0px
  padding 6px 30px
  display -webkit-box
  -webkit-box-orient horizontal
  height 54px

  &:hover
    background hsl(240,90,97)

  header.icon
    width 40px
    height 40px
    box-shadow 0px 0px 8px gray

  p
    margin 3px 10px

  img
    width 100%
  
  .detail
    width 680px
    margin-left 10px

  .info
    text-align right
    margin 0px
    font-size 14px

  .nick
    margin-right 10px
    color hsl(120,50,50)

  .name
    color hsl(120,50,80)
    margin-right 10px

  .time
    color hsl(240,90,80)

  .reply
    color hsl(200,80,90)
    margin-right 10px

#config
  .login
    color hsl(240,90,90)

  .form
    line-height 20px
    padding 10px 30px

    input
      width 500px
      height 30px
      outline none
      border none
      box-shadow 0px 1px 0px gray
      font-family 'Lato', sans-serif
      font-size 16px
      padding 4px 8px

.unit .state
  padding 0px
  width: 660;
  margin: 0px 10px;
  border: none;
  font-size: 16px
  font-family: 'wenquanyi micro hei';
  outline none
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.curr
  box-shadow inset 0px 0px 10px hsl(300,90,80)