
html
	head
		title qingtan
		meta(charset='utf-8')
		link(rel='shortcut icon',href='public/favicon.icon')
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='public/client.js')
		script(src='https://browserid.org/include.js')
		link(rel='stylesheet',href='public/page.css')
	body
		#box
			#left
			#right
			textarea#post