
html
	head
		title 众里
		meta(charset='utf-8')
		link(rel='shortcut icon',href='public/favicon.icon')
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='public/client.js')
		link(rel='stylesheet',href='public/page.css')
	body
		nav(id='box')
			div
				nav(class='name')
					a(href='http://weibo.com/1651843872/xD5E7y441',target='_blank') @题叶
				nav(class='done')
					a(href='https://github.com/jiyinyiyong/zhongli',target='_blank') socket.io 聊天室, 代码看@github
			div
				nav(class='name') &nbsp;
				nav(class='done') 回车打开文本框, /clear 清屏, /forget 关闭自动登陆
			div
				nav(class='name') &nbsp;
				nav(class='done') /join room 进入新的群组, 默认群组为 0
		textarea(id='text')
