

body
	font-family 'wenquanyi micro hei', 'Ubuntu'
	font-size 14px
	color hsl(0,80%,10%)
	background hsl(200,90%,94%)
.name
	float left
	width 100px
	overflow hidden
	color hsl(280,60%,60%)
div
	padding-top 6px
	height 26px
div:nth-child(2n)
	background hsl(200,90%,91%)
div:nth-child(2n+1)
	background hsl(200,90%,95%)
.raw
	width = 1000px
	height = 26px
	color hsl(20,50%,50%)
	overflow hidden
.done
	width = 1000px
	height = 26px
	overflow hidden
#box
	height 500px
	overflow-x hidden
	overflow-y auto
	border 1px solid hsl(0,50%,70%)
#text
	width 1000px
	font-family 'wenquanyi micro hei', 'Ubuntu'
	font-size 15px
	height 26px
	border-width 0px
	margin-left 100px
	border 1px solid hsl(0,50%,70%)
.time
	color hsl(20,90%,70%)
	font-size 12px
.sys
	color hsl(240,70%,80%)