body
	font-family 'wenquanyi micro hei', 'Ubuntu'
	font-size 14px
	line-height 26px
#box
	width 1160px
	height 660px
	margin 20px auto
	background hsl(0,40%,50%)
#left, #right
	height 660px
	overflow-x hidden
	overflow-y scroll
#left
	padding -13px 0px
	width 40%
	float left
	background hsl(340,80%,90%)
#right
	float right
	width 60%
	background hsl(40,80%,90%)
#login_image
	margin 260px
#login_nickname
	margin 240px 100px
#post
	position relative
	left 464px
	bottom 200px
	width 682px
	height 28px
	line-height 26px
	font-size 13px
	border 0px
	resize none
.posted_box
	width 100%
.posted_content, .posted_content_raw
	overflow-x hidden
	float left
	width 600px
	padding-left 13px
.posted_content_raw
	color hsl(0,80%,60%)
.posted_username
	float left
	width 69px
	overflow-x hidden